body{
    margin: 0;
    
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #1F2937;
    display: flex;
    padding: 16px 25% 0 25%;  
}
.logo{
    flex: 1 1 auto;
}
.logo div{
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}
.links{
    flex: 1 1 auto;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}
main{
    display: flex;
    flex-direction: column;
    
}
.top{
    background-color: #1F2937;
    display: flex;
    padding: 4% 25%;
    color: #F9FAF8;
    gap: 16px;
    
}
.left{
    
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
}
.p1{
    font-size: 48px;
    font-weight: 800;
    flex-basis: 70%;
    
}
.p2{
    
    font-size: 18px;
    
}
.but_1{
background-color: #3882f6;
padding: 8px 36px;
border: 1px solid transparent;
border-radius: 5px;
margin-top: 10px;


}
.img{
    background-color: grey;
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
}
.second{
    
}
h1{
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}
.illus{
    display: flex;
    
    gap: 45px;
    justify-content: center;
    padding: 0 0 100px 0;
    
}
.ill{
    
    display: flex;
    flex-direction: column;
    width: 160px;
    gap: 5px;
}
.ill img{
    border: 1px solid #3882f6;
    border-radius: 5%;
    height: 150px;
}
.ill div{
    text-align: center;
}
footer{
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 24px;
}
.three{
    
    background-color: #E5E7EB;
    
}
.three{
    padding: 5% 29.1%;
    display: flex;
    flex-direction: column;
    
}
.text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color:#1F2937 ;
    
}
.pod{
    margin-left: auto;
    max-width: max-content;
    font-weight: bold;
}
.bottom{
    display: flex;
    justify-content: center;
    
}
.content{
    background-color: #3882f6;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 50%;
    padding: 30px 0;
    margin: 80px;
    display: flex;
    justify-content: space-around;
    color: white;
}
.p3{
    font-weight: bold;
}
.but_2{
    width: 120px;
    color: white;
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 8px;
}
